.navbar {
  color: #ffffff !important;
  background-color: #213236;
}

.logo {
  width: 130px;
}

.navbar .navbar-toggler {
  border-width: 0.09rem;
  border-color: transparent !important;
}

.navbar .fa-bars {
  font-size: 1.5rem;
  color: #ffffff;
}

.navbar-brand {
  color: #ffffff !important;
}
.navbar .navbar-nav .nav-link {
  padding: 0rem 0rem !important;
  transition: all 0.3s;
}

:focus {
  outline: transparent !important;
}

.navbar ul {
  text-transform: uppercase;
}

.navbar ul li {
  margin-right: 1rem;
  text-decoration: none;
}
@media only screen and (max-width: 980px) {
  .navbar ul li {
    text-align: center;
    padding: 0.5rem;
  }
  .logo {
    width: 120px;
    height: 30px;
  }
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 80px;
    height: 20px;
  }
}
