@import './css/navbar.css';
@import './css/footer.css';
@import './css/home.css';

@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #eeeeee;
}

a {
  color: white !important;
  text-decoration: none !important;
}

.title_group {
  background-color: #393e46;
  padding: 1rem;
  margin: 1rem 0;
}

body {
  font-family: 'Abel', sans-serif;
}

/* svg {
  margin-right: 0rem !important;
} */
